body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: #2C2C2C
}

.header-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-wrapper h1 {
  color: hsl(175, 34%, 64%);
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

.header-wrapper h2 {
  color: #FFF;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 5px;
}

.divider {
  width: 75%;
  height: 2px;
  background-color: #FFF;
}

.wrapper {
  min-width: 400px;
  background: rgb(255, 0, 0);
  padding: 25px 30px;

}

.wrapper .item {
  padding: 5px 15px;
  height: 50px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);

  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
}