body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  --item-height: 60px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-wrapper h1 {
  color: hsl(175, 34%, 64%);
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

.header-wrapper h2 {
  color: #FFF;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 5px;
}

.divider {
  width: 125%;
  height: 2px;
  background-color: #FFF;
}

.wrapper {
  width: 750px;
  padding: 25px 30px;
  column-count: 2;
}

.wrapper .item {
  height: var(--item-height);
  width: 300px;
  margin-left: var(--item-height);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
}

.wrapper .item-logo {
  height: var(--item-height);
  width: var(--item-height);
  background-color: blue;
}

.wrapper .item-text {
  padding: 5px 15px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
}

.numbers {
  position: absolute;
  /* z-index: -1; */
  pointer-events: none;
  width: 750px;
  padding: 25px 30px;
  column-count: 2;
}

.numbers .number-wrapper {
  height: var(--item-height);
  width: var(--item-height);  
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: yellow; */
}